/* Container for About page */
.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 80vh;
    margin-top: 20vh;
    padding: 0 20px;
    position: relative;
}
  
/* Wrapper for Team and Sources side-by-side */
.profile-overlays-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: 70vh;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}
  
/* Overlay panels */
.profile-overlay-panel {
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(10px);
    padding: 30px 80px;
    border-radius: 20px;
    max-width: 90vw;
    text-align: left;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
}
  
/* Overlay titles */
.profile-title {
    font-family: "Silkscreen", cursive;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

/* Sources panel */
.profile-content p {
    margin: 0.5rem 0;
    font-family: "Silkscreen", cursive; 
    font-size: 18px;
    text-align: left;
}

.profile-generate-poster {
    font-family: "Silkscreen", cursive;
    font-size: 40px;
    text-align: center;
    justify-content: center;
}