/* Container for the home page */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: var(--page-height);
    margin-top: var(--page-margin-top);
    overflow-y: auto;
}

/* Content wrapper */
.content {
  text-align: center;
}

/* Logo styles */
.big-logo {
  width: 60%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 20px;
}

/* Subtitle styles */
.subtitle {
  font-family: "Silkscreen", cursive;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/* Play button styles */
.play-button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  
  /* Content wrapper */
  .content {
    text-align: center;
  }
  
  /* Logo styles */
  .big-logo {
    width: 80%;
    max-width: 1000px;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Subtitle styles */
  .subtitle {
    font-family: var(--ff);
    font-size: 24px;
    color: var(--color-text);
    margin-bottom: 30px;
    letter-spacing: 2px;
  }
  
  /* Play button styles */
  .play-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.play-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-button img {
  image-rendering: pixelated;
  position: absolute;
  bottom: 120px;
  width: 200px;
  height: auto;
  display: block;
}

/* Default state */
.play-button img.default {
  opacity: 1;
}

/* Hover state: overlay new PNG */
.play-button img.hover {
  opacity: 0;
}

.play-button:hover img.default {
  opacity: 0;
}

.play-button:hover img.hover {
  opacity: 1;
}

/* Clicked effect */
.play-button.clicked img.default,
.play-button.clicked img.hover {
  opacity: 0;
}

.play-button.clicked img.clicked {
  opacity: 1;
}

.play-button span {
  position: absolute;
  bottom: 152px;
  font-family: var(--ff);
  font-size: 34px;
  color: black;
}

.play-button:hover span {
  color: var(--color-text);
}

.play-button .clicked-text {
  bottom: 130px;
  color: var(--color-text);
}
