/* Dark/transparent backdrop covering screen */
.confirmation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  /* The actual popup box */
.confirmation-content {
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: var(--overlay-backdrop);
    border: var(--color-border);
    border-radius: 30px;
    padding: 40px 100px;
    text-align: center;
    color: var(--color-text);
    cursor: default;
    
    font-family: var(--ff);
  }
  
  .confirmation-content h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-decoration: underline;
  }

  .confirmation-content h3 {
    font-size: 23px;
    margin-bottom: 20px;
  }
  
  .confirmation-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Back to lobby button */
  .confirmation-button {
    background-color: var(--color-error-secondary);
    border: 2px solid var(--color-error-primary);
    border-radius: 60px;
    padding: 10px 20px;
    color: var(--color-error-primary);
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
  }
  
  /* On hover */
  .confirmation-button:hover {
    filter: brightness(90%);
  }
  