/* Reset margins and paddings for the whole page */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* Ensure the gradient background covers the entire viewport */
.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/public/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
