.back-button {
    position: fixed;
    top: 16%;
    left: 8%;
    z-index: 9999;
    
    background: rgba(255, 255, 255, 0.0);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 0px;
    padding-left: 12px;

    font-family: "Silkscreen", cursive;
    font-size: 34px;
    color: white;
}
  
.back-button:hover {
    text-shadow: 2px 2px 2px #000;
    font-weight: bold;
    cursor: pointer;
}
  
.back-button img {
    width: 24px;
    height: auto;
}

/* Tooltip appear to the right using ::after */
.back-button::after {
    content: "BACK";
    position: absolute;
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
  
    /* Tooltip styling */
    background: transparent;
    color: white;
    border-radius: 8px;
    padding: 5px 10px;
    font-size: 23px;
    font-family: "Silkscreen", cursive;
    white-space: nowrap;
  
    /* Start hidden */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
  }
  
  /* Show the tooltip text on hover */
  .back-button:hover::after {
    opacity: 1;
  }
  